*.xlsx
CM_*
gensim_models
*.pickle
*.json
*.csv
__pycache__
.vscode
.ipynb_checkpoints
bert_masked_lm_full_model
bert_jokes
colbert_predict/colbert/variables
colbert_predict/colbert/assets
colbert_predict/colbert/saved_model.pb
new_colbert_predict/colbert-trained/variables
bert-large-uncased
bert-large-uncased-whole-word-masking
bert_humicroedit
